@import '@angular/material/prebuilt-themes/rose-red';
.main-container .main-drawer{
  height: 100%;
  width: 200px;
  border: 0px solid #ff0000;
  background: #b7b2be;
}
.mat-dialog-content {
  padding-bottom: 10px !important;
}

.mat-drawer-content{
  overflow: hidden !important;
}

html{
  overflow: hidden;
}
